{% extends 'base.html' %}

{% block title %}{{ title }} :: {{ block.super }}{% endblock %}

{% block content %}

<div id="main">
    <div id="content">
      <div class="box">
        <div class="head">
          <h1>{{ post.title }}</h1>


          <table class="iksweb">
              <tbody>
                  <tr>
                      <td rowspan="2" id="piccol"><img src="{{ post.logo.url }}" alt="" /></td>
                      <td><h3>{{ post.content }}</h3></td>
                  </tr>
                  <tr id="textcol">
                      <td>
                          <h3><i><font color="#fa8e47">Год выхода:</font></i> {{ post.released }}</h3>
                          {% if post.director %}
                          <h3><i><font color="#fa8e47">Режиссер:</font></i> {{ post.director }}</h3>
                          {% endif %}
                          {% if post.side %}
                          <h3><i><font color="#fa8e47">Страна:</font></i> {{ post.side }}</h3>
                          {% endif %}
                          {% if post.actors %}
                          <h3><i><font color="#fa8e47">Актеры:</font></i> {{ post.actors }}</h3>
                          {% endif %}
                          {% if post.genre %}
                          <h3><i><font color="#fa8e47">Жанр:</font></i> {{ post.genre }}</h3>
                          {% endif %}
                          {% if post.rateKP %}
                          <h3><i><font color="#fa8e47">Рейтинг Кинопоиск:</font></i> {{ post.rateKP }}</h3>
                          {% endif %}
                          {% if post.rateIMDB %}
                            <h3><i><font color="#fa8e47">Рейтинг IMDB:</font></i> {{ post.rateIMDB }}</h3>
                          {% endif %}
                          {% if post.translation %}
                          <h3><i><font color="#fa8e47">Перевод:</font></i> {{ post.translation }}</h3>
                          {% endif %}
                          {% if post.quality %}
                          <h3><i><font color="#fa8e47">Качество:</font></i> {{ post.quality }}</h3>
                          {% endif %}
                  </tr>
              </tbody>
          </table>


          <div class="tabs-b video-box visible">
            <h1 align="center">Смотреть {{ post.title }} в HD 720-1080 хорошем качестве</h1>
            <iframe width="960" height="600" src="{{ post.urlmov }}" frameborder="0" allowfullscreen=""></iframe>
            </div>
          
          <!-- <p class="text-right"><a href="#">See all</a></p> -->
        </div>
        
        <div class="cl">&nbsp;</div>
      </div>
    </div>
    

    <div class="cl">&nbsp;</div>
  </div>

{% endblock %}