<!DOCTYPE html>
{% load static %}
{% load menu %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %}MOVIE HD{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
<script type="text/javascript" src="{% static 'js/jquery-1.4.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-func.js' %}"></script>
<!--[if IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" /><![endif]-->
</head>
<body>
<!-- START PAGE SOURCE -->
<div id="shell">
  <div id="header">
    <h1 id="logo"><a href="/">MovieHunter</a></h1>
    <div class="social"> <span>Мы в соцсетях:</span>
      <ul>
        <li><a class="twitter" href="#">twitter</a></li>
        <li><a class="facebook" href="#">facebook</a></li>
        <li><a class="vimeo" href="#">vimeo</a></li>
        <li><a class="rss" href="#">rss</a></li>
      </ul>
    </div>
    <div id="navigation">
      <ul>
        <li><a class="active" href="/">Главная</a></li>
        <li><a href="/news/">Новости</a></li>
        <li><a href="/comsoon/">Скоро выйдут</a></li>
      </ul>
    </div>

    {% show_menu %}
  </div>
  <div id="main">          
    {% block content %}
    {% endblock content %}    
  </div>    
  <div id="footer">
    <p class="lf">Copyright &copy; 2022 <a href="#">MOVIE HD</a> - All Rights Reserved</p>
    <!-- <div style="clear:both;"></div> -->
  </div>
</div>
<!-- END PAGE SOURCE -->
</body>
</html>